<html ng-app="palisadeFirewallApp">
<head>
    <title>Palisade-Firewall</title>
    <link rel="stylesheet" href="static/css/bootstrap.css">
<script  src="static/lib/angular.js"></script>
<script src="static/lib/angular-resource.js"></script>
<script src="static/lib/angular-route.js"></script>

<script src="static/js/app.js"></script>
<script src="static/js/services.js"></script>
<script src="static/js/controllers.js"></script>

</head>
<body ng-app="palisadeFirewallApp">


  <div class="view-container">
    <div ng-view class="view-frame"></div>
  </div>

</body>
</html>