palisade_firewall.sublime-project
palisade_firewall.sublime-workspace
*.pyc
.project
.pydevproject
.settings
.idea
palisade/ui/static/lib
palisade/ui/static/js/bootstrap.js
palisade/ui/static/fonts/*
palisade/ui/static/css